.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 680px;
  margin-left: 5%;
  background-image: url("../src/res/img/iphone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div::-webkit-scrollbar {
  width: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: #646464;
}

div::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0);
}

#wallpaper-screen {
  background-image: url("../src/res/img//wallpaperMain.jpg");
}

#home-button {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 40px;
  border-radius: 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
